<%- contentFor('title') %>
Log-in

<%- contentFor('init') %>
<link rel="stylesheet" href=".././../css/chat/login.css">
<script>
  const id = `<%- locals.id %>`
  const name = `<%- locals.name %>`
  if (id) {
    localStorage.setItem('ID', id)
    localStorage.setItem('name', name)
    window.location.replace('../chat')
  }
</script>
<script defer src=".././../js/chat/register.js" type="module"></script>
<script src=".././../js/chat/log-in.js" defer type="module"></script>

<%- contentFor('body') %>
<main>
  <div class="title">
    <h3>Sign in</h3>
  </div>
  <div class="form">
    <form class="login-form" method="post">
      <%- include('../partials/accountInputForm') %>
      <p class="warning"><%- locals.error %></p>
      <section class="links">
        <button type="submit">Login</button>
        <a href="./register">Register</a>
      </section>
    </form>
  </div>
</main>